/* ======================
   Общие стили
   ====================== */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    background: #000;
    min-height: 100vh;
    overflow: hidden;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

#grid {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

img {
    -webkit-user-drag: none;
}

/* ======================
   Шапка
   ====================== */
.head {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 20px;
    background-color: #2c2c2c;
    z-index: 1000;
}

.name {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: #00e676;
    white-space: nowrap;
}

.head-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    background: transparent;
    color: #00e676;
    border: 2px solid #00e676;
    padding: 12px 18px;

    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;

    transition: background 0.2s, color 0.2s, transform 0.1s;
}

.btn:active {
    transform: scale(0.95);
}

.active {
    background: #00e676;
    color: #000;
}

/* ======================
   Контент
   ====================== */
.content {
    height: 100%;
    padding-top: 80px;
}

/* ======================
   Окна
   ====================== */
.window {
    position: absolute;
    background-color: #2c2c2c;
    border: 2px solid #00e676;
    box-shadow: 0 0 10px #00e676;
    color: #00e676;
}

.window777 {
    position: absolute;
    background-color: #2c2c2c;
    border: 2px solid #00e676;
    box-shadow: 0 0 10px #00e676;
    color: #00e676;
    
}
/* Позиции */
#window1 { top: 100px; left: 20px; width: 500px; height: 800px; }
#window2 { top: 100px; left: 540px; width: 636px; height: 290px; }
#window3 { top: 420px; left: 540px; width: 636px; height: 250px; }
#window4 { top: 100px; left: 1196px; width: 700px; height: 800px; }

/* ======================
   Заголовок окна
   ====================== */
.window-header {
    background-color: #1a1a1a;
    padding: 6px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: grab;
    box-sizing: border-box;
    min-width: 120px;
}

.window-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.window-buttons {
    display: flex;
    flex-shrink: 0;
}

.window-buttons button {
    width: 25px;
    height: 25px;
    margin-left: 5px;

    background: transparent;
    border: 1px solid #00e676;
    color: #00e676;

    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

/* ======================
   Контент окна
   ====================== */
.window-content {
    height: calc(100% - 40px);
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    overflow-y: auto;
    /* Для WebKit-браузеров (Chrome, Edge, Safari) */
    scrollbar-width: none; /* Firefox */
}

.window-content::-webkit-scrollbar {
    width: 0px; /* скрываем ползунок */
    background: transparent;
}

/* ======================
   Resize
   ====================== */
.window-resize-handle {
    width: 15px;
    height: 15px;

    position: absolute;
    right: 0;
    bottom: 0;

    cursor: se-resize;
    background-color: #00e676;
    opacity: 0.5;
}

/* =====================================================
   ГЛАВНОЕ ОКНО
   ===================================================== */
#window1 .window-content{
    padding: 10px;
    overflow-y: auto;
}

.w1h1 {
    font-size: 25px;
    color: yellow;
    margin-top: 10px;
}
.w1p1 {
    color: whitesmoke;
    white-space: normal;
    letter-spacing: 0.01em;
    line-height: 1.6;
}
.w2h1 {
    font-size: 25px;
    color: yellow;
    margin-top: 70px;
}

.NoName {
    color: red;
}

/* =====================================================
   СКИЛЛЫ
   ===================================================== */
#window2 .window-content{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    overflow-y: auto;
    
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skill-title {
    font-size: 12px;
    color: whitesmoke;
}

.skill-bar {
    width: 100%;
    height: 14px;
    background: #1a1a1a;
    border: 1px solid #00e676;
}

.skill-progress {
    height: 100%;
    background: #00e676;
}

/* =====================================================
   КОНТАКТЫ
   ===================================================== */
.contacts {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.social-btn {
    width: 100px;
    height: 100px;
    background: #007e41;
    border: 2px solid #07b801;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 30px;
    transition: background 0.2s, color 0.2s, transform 0.1s;
    
}

.social-btn:hover {
    transform: scale(1.1);
}

.social-btn img {
    width: 90%;
    height: 100%;
    object-fit: contain;
    
}

/* =====================================================
   ПРОЕКТЫ
   ===================================================== */
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    width: 100%;
    height: auto;
    
    object-fit: cover;
    border: 1px solid #00e676;
    
}

.project-name {
    margin-top: 4px;
    font-size: 20px;
    color: yellow;
}

/* ==================НАЗВНИЕ И ИХ КОДИРОВКА================== */
.project-name2 {/* ================== ЗАВЕРШЕННЫЙ  */
    margin-top: 4px;
    color: #ffffff;
}
.project-name3 {/* ================== ДОРАБОТКА  */
    margin-top: 4px;
    color: rgb(0, 255, 0);
}
.project-name4 {/* ================== НЕ ЗАКОНЧЕНЫЙ И В ОЖИДАНИИ  */
    margin-top: 4px;
    color: rgb(0, 255, 0);
}
.project-name5 {/* ================== ПЛАНИРУЕТСЯ  */
    margin-top: 4px;
    color: rgb(0, 255, 0);
}
.project-name666 {/* ================== ТЕСТОВЫЙ  */
    margin-top: 4px;
    color: rgb(0, 255, 0);
}


.project-link {
    margin-top: 4px;
    padding: 4px 8px;
    width: 100%;
    background: transparent;
    border: 1px solid #00e676;
    color: #00e676;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.2s, color 0.2s, transform 0.1s;
}

.project-link:hover {
    background-color: #00e676;
    color: black;
    
}

/* =====================================================
   КОНТЕКСТНОЕ МЕНЮ КАСТ
   ===================================================== */
#context-menu {
    position: fixed;
    display: none;
    min-width: 220px;
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #fff;
    z-index: 999999;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    
    
}


/* Пункт */
.item {
    padding: 10px 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

.item:hover {
    background: #333;
}

.item:active {
    background: #444;
}

/* Отключённый */
.item.disabled {
    opacity: 0.4;
    pointer-events: none;
}

/* Опасный */
.item.danger {
    color: #ff5c5c;
}

/* Разделитель */
.separator {
    height: 1px;
    background: #333;
    margin: 6px 0;
}


/* =====================================================
   окно входа 
   ===================================================== */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.modal-content {
  background: #2c2c2c;
  border: 2px solid #00e676;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
}

.modal-content input[type="text"] {
  margin-top: 10px;
  padding: 8px;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  border: 1px solid #00e676;
  background: #1a1a1a;
  color: #fff;
}

.modal-content button {
  margin-top: 15px;
  padding: 8px 16px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  cursor: pointer;
  border: 2px solid #00e676;
  background: transparent;
  color: #00e676;
}
/* =====================================================
   тестовое что-то
   ===================================================== */
